# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Django
db.sqlite3
*.log
media/
staticfiles/

# Virtual environment
env/
venv/
ENV/
.venv/

# Environment variables
.env

# OS files
.DS_Store
Thumbs.db

# Editor
.vscode/
.idea/

# Migrations cache
**/__pycache__/